html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d3d3b6;
  font-family: 'Roboto', sans-serif;
}

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:active,
input:active {
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #a05f18;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background: url(img/header_bg.png) no-repeat center center/cover;
  position: relative;
}

.wrapper-white {
  background-color: #fff;
  background-image: none;
}

.wrapper-gray {
  background-color: #eee;
  background-image: none;
}

.wrapper-map {
  height: 523px;
  background: url("img/map.png");
}

.wrapper-footer {
  background-image: none;
  padding-top: 30px;
  height: 120px;
}

header {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 0 35px 0;
}

.header__logo {
  width: 50%;
  height: 140px;
  background: url(img/logo.png) no-repeat 10px 0;
}

.header__contacts {
  width: 32%;
  min-width: 300px;
  height: 120px;
  font-weight: 300;
  padding: 8px 0 0 2px;
  letter-spacing: .3px;
}

.header__text {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  margin-top: 44px;
}

.header__text p {
  font-size: 3rem;
  font-weight: 100;
  width: 90%;
  max-width: 580px;
  color: #d3d3b6;
  margin: 15px auto;
}

.header__button {
  border: 3px solid #ff8400;
  width: 343px;
  height: 62px;
  background-color: transparent;
  -webkit-box-shadow: 0 3px 0 #a05f18;
  box-shadow: 0 3px 0 #a05f18;
  color: #fff200;
  font-size: 2.4rem;
  margin: 45px auto 0;
  letter-spacing: .6px;
}

.header__opportunity {
  width: 100%;
  margin-top: 67px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.opportunity-title {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  color: #d3d3b6;
}

.opportunity {
  font-size: 2rem;
  font-weight: 300;
  width: 30%;
  padding-top: 135px;
  text-align: center;
}

.opportunity:nth-child(2) {
  background: url(img/oppo_img_1.png) no-repeat center 40px;
}

.opportunity:nth-child(3) {
  background: url(img/oppo_img_2.png) no-repeat center 7px;
}

.opportunity:nth-child(4) {
  background: url(img/oppo_img_3.png) no-repeat center 35px;
}

.contacts-address {
  font-size: 1.8rem;
  padding-left: 25px;
  padding-top: 7px;
  background: url(img/location_icon.png) no-repeat;
  line-height: 25px;
}

.contacts-address a {
  border-bottom: 1px dashed #d3d3b6;
  color: #d3d3b6;
  text-decoration: none;
  margin-left: 16px;
}

.contacts-address a:hover {
  color: #ff8400;
}

.contacts-phone {
  color: #fff200;
  font-size: 3rem;
  margin: 9px 0 8px 0;
}

.contacts-worktime {
  font-size: 1.6rem;
}

.contacts-worktime span {
  color: #fff200;
  font-weight: 700;
}

.next_section {
  background: url(img/next_section.png) no-repeat right top;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
  color: #999;
  line-height: 18px;
  font-size: 1.2rem;
  padding-right: 24px;
  position: absolute;
  top: 53px;
  right: 15px;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

h1 span {
  color: #ff8400;
}

.photos {
  width: 30%;
  position: relative;
  margin-top: 63px;
}

.photos img {
  position: absolute;
  top: 0;
  left: 7px;
}

.photo {
  width: 200px;
  height: 133px;
  border: 10px solid #f4f4f4;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0 0 5px rgba(44, 24, 5, 0.2);
  box-shadow: 0 0 5px rgba(44, 24, 5, 0.2);
}

.photo:hover {
  cursor: pointer;
  border: 10px solid #ff8400;
  z-index: 1;
}

section {
  max-width: 980px;
  margin: 0 auto;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  padding-bottom: 70px;
  padding-top: 40px;
}

.description {
  width: 60%;
}

.description p {
  font-size: 1.6rem;
  font-weight: 400;
}

.game__description p:nth-child(3) {
  font-size: 2rem;
}

.game__description p.list {
  padding-left: 60px;
  background: url(img/list-img.png) no-repeat 20px top;
}

.game__photos .photo:nth-child(2) {
  top: 93px;
  left: 87px;
}

.game__photos .photo:nth-child(3) {
  top: 187px;
}

.game__photos .photo:nth-child(4) {
  top: 279px;
  left: 87px;
}

.event__description p {
  font-size: 1.6rem;
  font-weight: 400;
}

.event__description p.list {
  padding-left: 60px;
  position: relative;
}

.event__description p.list:before {
  content: "1";
  position: absolute;
  left: 25px;
  top: -3px;
  color: #ff8400;
  font-size: 2.4rem;
  font-weight: 700;
}

.event__description p.list:nth-child(3):before {
  content: "2";
}

.event__description p.list:nth-child(4):before {
  content: "3";
}

.event__description p.list:nth-child(5):before {
  content: "4";
}

.event {
  margin-top: 0;
}

.event__photos {
  margin-top: 50px;
}

.event .photo:nth-child(2) {
  top: 93px;
  left: 87px;
}

.event .photo:nth-child(3) {
  top: 187px;
}

.event .photo:nth-child(4) {
  top: 279px;
  left: 87px;
}

.question {
  font-size: 2rem;
  margin-bottom: 20px;
}

.question p {
  margin: 15px 0 0 20px;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.question span {
  border-bottom: 1px dashed #000;
  position: relative;
}

.question span:hover {
  cursor: pointer;
  color: #ff8400;
  border-bottom: 1px dashed #ff8400;
}

.accordeon_arrow {
  position: absolute;
  top: 5px;
  left: -25px;
  width: 8px;
  height: 14px;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  background: url(img/accordeon_arrow.png) no-repeat;
}

.questions {
  padding-bottom: 40px;
}

.questions__description {
  width: 80%;
}

.questions__description h1 {
  margin-bottom: 25px;
  margin-left: -30px;
}

.questions__photos {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.questions__photos img {
  margin: 0 13px;
}

.reasons__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.reasons__description h1 {
  width: 93%;
  margin-left: -30px;
}

.reason {
  width: 31%;
  margin: 30px 10px 0 10px;
  font-size: 1.6rem;
}

.reason span {
  font-size: 2.4rem;
  color: #ff8400;
}

.reason__number {
  width: 46px;
  height: 46px;
  margin: 0 auto 18px auto;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  background-color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  color: #ff8400;
  text-align: center;
  padding: 2px;
}

.reason__photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reason__photos img {
  margin: 30px 10px 0 10px;
}

.image-wrap {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.prices {
  padding-bottom: 50px;
}

.prices__description {
  width: 95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.prices__description h1 {
  width: 100%;
}

.prices__description .price_caption {
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  margin: 26px 0 29px 0;
}

.price-wrap {
  width: 31%;
}

.tariff {
  -webkit-box-shadow: 0 0 5px rgba(44, 24, 5, 0.2);
  box-shadow: 0 0 5px rgba(44, 24, 5, 0.2);
  position: relative;
  padding-bottom: 60px;
  height: 85%;
}

.tariff p {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.tariff__title {
  height: 65px;
  font-size: 2rem;
  text-align: center;
  padding-top: 15px;
  position: relative;
}

.tariff__title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 5px;
  width: 8px;
  height: 14px;
  background: url(img/accordeon_arrow.png);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.tariff__includes {
  height: 29px;
  font-size: 1.4rem;
  line-height: 29px;
  padding-left: 14px;
}

.tariff__btn {
  display: block;
  margin: 19px auto 0 auto;
  width: 70%;
  height: 39px;
  border: 3px solid #ff8400;
  outline: none;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 0 #a05f18;
  box-shadow: 0 6px 0 #a05f18;
  color: #ff8400;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.tariff__btn:hover {
  background-color: #a05f18;
  color: #fff200;
}

.tariff__price {
  height: 45px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.tariff__price span {
  color: #ff8400;
}

.tariff__items {
  position: relative;
  padding-left: 60px;
}

.tariff__items:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 2px;
  width: 23px;
  height: 24px;
  background: url(img/list-img.png);
  z-index: 1;
}

.tariff_1 {
  background-color: #fff;
}

.tariff_1 .selected {
  background-color: #f4f4f4;
}

.tariff_2 {
  background-color: #f4f4f4;
}

.tariff_2 .selected {
  background-color: #eee;
}

.tariff_3 {
  background-color: #f6f6df;
}

.tariff_3 .selected {
  background-color: #fff;
}

.price_500 {
  background-color: #f4f4f4;
}

.price_700, .price_900 {
  background-color: #fff;
}

.includes_500 {
  background-color: #eee;
}

.includes_700 {
  background-color: #ddd;
}

.includes_900 {
  background-color: #d3d3b6;
}

.add_balls {
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 50px;
}

.add_balls span {
  color: #ff8400;
}

.service {
  padding-bottom: 15px;
}

.service__description {
  width: 95%;
  position: relative;
}

.service__description p.list {
  position: relative;
  padding-left: 60px;
  margin-top: 30px;
  line-height: 28px;
}

.service__description p.list span {
  color: #000;
  font-size: 2rem;
}

.service__description p.list:before {
  content: "1";
  position: absolute;
  left: 25px;
  top: 0;
  color: #ff8400;
  font-size: 2.4rem;
  font-weight: 700;
}

.service__description p.list:nth-child(4):before {
  content: "2";
}

.service__description p.list:nth-child(5):before {
  content: "3";
}

.service__description p.list:nth-child(6):before {
  content: "4";
}

.service__description p.service_additional {
  font-size: 2rem;
  font-weight: 300;
  line-height: 35px;
}

.service__description p.service_additional span {
  color: #ff8400;
}

.service__description .photo {
  position: absolute;
  right: 85px;
  top: 70px;
}

.map {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 40px;
  width: 90%;
}

.map h1 {
  width: 100%;
}

.map__contacts {
  width: 300px;
  height: 163px;
  background-color: #fff;
  opacity: 0.8;
  padding: 29px;
  font-weight: 300;
  font-size: 1.6rem;
  margin-top: 40px;
}

.map__contacts span {
  font-size: 2rem;
  font-weight: 700;
}

.map__contacts span:last-child {
  font-size: 1.6rem;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.footer-contants {
  font-size: 1.4rem;
  width: 60%;
}

.copyright {
  width: 165px;
  line-height: 27px;
  font-size: 1.2rem;
  background: url(img/copyright.png) no-repeat right top;
}

.copyright a {
  color: #000;
}

.to-map {
  z-index: 1;
}

@media screen and (max-width: 980px) {
  .game {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .next_section {
    position: static;
    width: 115px;
    margin: 0 50px 30px 50px;
  }
  .game__description {
    width: 85%;
  }
  .event__description {
    width: 85%;
  }
  .photos {
    width: 610px;
    height: 230px;
    margin-top: 30px;
  }
  .game__photos .photo:nth-child(1) {
    left: 0;
  }
  .game__photos .photo:nth-child(2) {
    top: 93px;
    left: 130px;
  }
  .game__photos .photo:nth-child(3) {
    top: 0;
    left: 260px;
  }
  .game__photos .photo:nth-child(4) {
    top: 93px;
    left: 390px;
  }
  .event__photos {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .event__photos .photo:nth-child(1) {
    left: 0;
  }
  .event__photos .photo:nth-child(2) {
    top: 93px;
    left: 130px;
  }
  .event__photos .photo:nth-child(3) {
    top: 0;
    left: 260px;
  }
  .event__photos .photo:nth-child(4) {
    top: 93px;
    left: 390px;
  }
  .reason {
    width: 40%;
    margin: 30px 15px 0 15px;
  }
  .reasons__description h1 {
    margin-left: 20px;
  }
  .prices__description {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .prices__description h1 {
    width: 90%;
  }
  .price_caption {
    width: 90% !important;
  }
  .add_balls {
    width: 90%;
  }
  .tariff__items {
    padding-right: 7px;
  }
  .tariff {
    padding-bottom: 70px;
  }
  .service__description {
    width: 90%;
  }
  .service__description .photo {
    position: static;
    margin-left: 60px;
  }
  .wrapper-map {
    background-position: 25%;
  }
}

@media screen and (max-width: 800px) {
  .price-wrap {
    width: 60%;
    min-width: 320px;
  }
  .tariff {
    padding-bottom: 55px;
  }
  .pw_2 {
    margin-top: 30px;
  }
  .pw_3 {
    margin-top: 25px;
  }
  .wrapper-map {
    background-position: 40%;
  }
}

@media screen and (max-width: 610px) {
  header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__contacts,
  .header__logo {
    width: 300px;
    padding: 0 14px;
    margin-top: 20px;
  }
  .header__contacts {
    margin-top: 35px;
  }
  .photos {
    width: 310px;
    height: 400px;
    margin-top: 20px;
  }
  .game__photos .photo:nth-child(1) {
    left: 7px;
  }
  .game__photos .photo:nth-child(2) {
    top: 93px;
    left: 87px;
  }
  .game__photos .photo:nth-child(3) {
    top: 187px;
    left: 7px;
  }
  .game__photos .photo:nth-child(4) {
    top: 279px;
    left: 87px;
  }
  .event__photos .photo:nth-child(1) {
    left: 7px;
  }
  .event__photos .photo:nth-child(2) {
    top: 93px;
    left: 87px;
  }
  .event__photos .photo:nth-child(3) {
    top: 187px;
    left: 7px;
  }
  .event__photos .photo:nth-child(4) {
    top: 279px;
    left: 87px;
  }
  .questions__photos {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .questions__photos .photo {
    margin-top: 20px;
  }
  .wrapper-map {
    background-position: 50%;
  }
  footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-contants {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .copyright {
    margin: 5px auto;
  }
}

@media screen and (max-width: 480px) {
  .header__text {
    font-size: 3rem;
  }
  .header__text p {
    font-size: 2.5rem;
  }
  .opportunity-title {
    font-size: 2.2rem;
  }
  .opportunity {
    font-size: 1.6rem;
  }
  .header__button {
    width: 70%;
    font-size: 2rem;
    margin-top: 30px;
  }
  .event__description p.list {
    padding-left: 30px;
  }
  .event__description p.list:before {
    left: 0;
  }
  .question {
    font-size: 1.7rem;
  }
  .question p {
    font-size: 1.5rem;
  }
  .questions__description {
    padding-left: 10px;
  }
  .questions__description h1 {
    margin-left: -10px;
  }
  .accordeon_arrow {
    left: -20px;
  }
  .reason {
    width: 80%;
  }
  .reason img {
    margin: 30px 10px 0 10px;
  }
  .image-wrap {
    width: 75%;
  }
  .image-wrap:nth-child(1) {
    margin-right: -10%;
  }
  .image-wrap:nth-child(2) {
    margin-right: 10%;
  }
  .image-wrap:nth-child(3) {
    margin-right: -10%;
  }
  .image-wrap:nth-child(4) {
    margin-right: 10%;
  }
  .image-wrap:nth-child(5) {
    margin-right: -10%;
  }
  .image-wrap:nth-child(6) {
    margin-right: 10%;
  }
  .image-wrap:nth-child(7) {
    margin-right: -10%;
  }
  .service__description .list {
    padding-left: 30px !important;
  }
  .service__description .list:before {
    left: 0 !important;
  }
  .service__description .photo {
    margin-left: 30px;
  }
  .wrapper-map {
    background-position: 57%;
  }
  .map__contacts {
    margin-top: 150px;
    padding: 27px;
  }
}
